body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutText {
    padding: 2%;
}

.navLinks {
    display: flex;
    gap: 2em;
}

nav img {
    width: 10%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    width: 80%;
    border-radius: 1em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

nav button {
    border-radius: 12px;
    background-color: white;
    border: 2px solid #18272F;
    padding: 10px;
}

nav button:hover {
    background-color: #18272F;
    color: white;
    cursor: pointer;
}


.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.aboutVideo {
    width: 45%;
    border-radius: 1em;
}

.projectsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.project {
    width: 30%;
    border-radius: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #18272F;
    position: relative;
    text-decoration: none;
    font-size: larger;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}



@media (max-width: 768px) {
    .aboutContainer {
        flex-direction: column;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }
}